body {
    background-color: var(--color-grey-1);
}

label {
    display: block;
}

h1 {
    font-weight: var(--h1-fontweight);
    font-size: 28px;
}

h2{
    font-weight: var(--h2-fontweight);
}

h3 {
    font-weight: var(--h3-fontweight);
}

.pageContainer {
    width: 70vw;
    margin: 0 auto;
    margin-top: 70px;
    border-radius: 8px;
}

.loginPage {
    height: 75vh;
    width: 100%;
    display: flex;
}

.brandSection {
    background-color: var(--color-primary);
    width: 40%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 4px;
}

.brandLogo {
    padding: 10px 0 10px 10px;
    margin-bottom: 60px;
}


.brandDescription {
    padding: 10px 0 10px 10px;
}

.brandSlogan {
    padding: 10px 0 10px 10px;
}



.loginSection {
    background-color: var(--color-secundary);
    width: 60%;
    height: 100%;
    border-radius: 4px;
    padding-top: 90px;
}

.loginTitle {
    background-color: var(--color-primary-alpha1);
    width: 14vw;
    height: 5vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.loginTitle h2 {
    font-size: 18px;
}

.loginEmail {
    margin-left: 9vw;
    margin-bottom: 2vh;
    margin-top: 2vh;
}

#loginEmail {
    width: 22vw;
    height: 5vh;
    border-radius: 4px;
    border: none;
    background-color: var(--color-grey-5);
    padding-left: 1vw;
    color: black;
}
#loginEmail::placeholder {
    color: black;
}

.loginPassword {
    margin-left: 9vw;
    margin-bottom: 1vh;
    margin-top: 2vh;
}

#loginPassword {
    width: 22vw;
    height: 5vh;
    border-radius: 4px;
    border: none;
    background-color: var(--color-grey-5);
    padding-left: 1vw;
}

.forgotPassword {
    margin-left: 9.3vw;

}

.buttonForgot {
    background-color: var(--color-primary-alpha2);
    border: none;
    width: 9vw;
    height: 3vh;
    cursor: pointer;
    border-radius: 4px;
}
.buttonForgot:hover {
    border: var(--color-grey-3) 1px solid;
}


.buttonLogin {
    background-color: var(--color-primary-alpha2);
    width: 22vw;
    height: 5vh;
    border: none;
    cursor: pointer;
    border-radius: 4px;
    margin-left: 9vw;
    margin-top: 1vh;
}
.buttonLogin:hover {
    border: var(--color-grey-3) 1px solid;
}

.modalContainer {
    position: fixed;
    height: 100vh;
    width: 100vw;
    top: 0;
    left: 0;
    z-index: 3000;
    background-color: rgba(0, 0, 0, .5);
    display: flex;
    align-items: center;
    justify-content: center;
}

.recoverPassword {
    border: solid 1px white;
    width: 30vw;
    height: 50vh;
    border-radius: 8px;
    background-color: white;
}

.exitButton {
    margin-top: 2vh;
    margin-left: 26vw;
    width: 3vw;
    height: 5vh;
    cursor: pointer;
    background-color: var(--color-primary-alpha1);
    border: none;
    border-radius: 6px;
    font-weight: 600;
}
.exitButton:hover{
    border: 2px black solid;


}

.recoverTitle {
    margin-top: 8vh;
    margin-left: 8vw;
}

.recoverDescription {
    margin-top: 2vh;
    margin-left: 2vw;
}

.recoverEmail {
    margin-top: 2vh;
    margin-left: 5vw;
}

#recovEmail {
    height: 5vh;
    width: 20vw;
    padding-left: 1vw;
    border-radius: 4px;
    border: none;
    background-color: var(--color-grey-4);
}

.recoverButton {
    margin-top: 1vh;
    margin-left: 10vw;
}

.recovButton {
    width: 10vw;
    height: 5vh;
    cursor: pointer;
    border: none;
    background-color: var(--color-primary-alpha1);
    border-radius: 6px;
}
.recovButton:hover {
    border: 1px black solid;
}